In [52]:
import csv
import json
import sys, pymysql
import pandas as pd

#與MySQL建立連線
conn = pymysql.connect(host='localhost',port=3306,user='root',password='123456',db='pm25')
cursor = conn.cursor()
try:
    sql_str="select * from pm25_2019"
    cursor.execute(sql_str)
    result = cursor.fetchall()
    l = len(result)
    list_data = []
    for i in range(5):
        for row in result:
            list_row = list(row)
            list_data.append(list_row)
except:
    print('unable to fetch data from db')

cursor.close()
conn.close() 

df = pd.DataFrame(list_data,columns=['timestamp','date','time','device_id','Temperature','Humidity','PM25'])
df['PM25'] = df['PM25'].astype(int)
df['Temperature'] = df['Temperature'].astype(float)
df['Humidity'] = df['Humidity'].astype(float)
df["hour"] = df['time'].astype(str).str.split(':',expand = True)[0].str.split(' ',expand = True)[2].astype(int)
#print(list_data)

data = pd.DataFrame(df,columns=['hour', 'Temperature', 'Humidity', 'PM25'])
df

,timestamp,date,time,device_id,Temperature,Humidity,PM25,hour
0,2019-11-04T09:07:48Z,2019-11-04,09:07:48,FT2_0041,24.74,65.89,17,9
1,2019-11-04T10:00:52Z,2019-11-04,10:00:52,FT2_0041,24.66,66.01,14,10
2,2019-11-04T11:00:55Z,2019-11-04,11:00:55,FT2_0041,24.62,64.62,12,11
3,2019-11-04T12:00:58Z,2019-11-04,12:00:58,FT2_0041,24.27,64.53,9,12
4,2019-11-04T13:00:01Z,2019-11-04,13:00:01,FT2_0041,24.11,65.08,11,13
5,2019-11-04T14:00:05Z,2019-11-04,14:00:05,FT2_0041,24.01,65.89,12,14
6,2019-11-04T15:00:08Z,2019-11-04,15:00:08,FT2_0041,24.00,67.02,13,15
7,2019-11-04T16:00:28Z,2019-11-04,16:00:28,FT2_0041,23.97,67.13,15,16
8,2019-11-04T17:00:14Z,2019-11-04,17:00:14,FT2_0041,23.99,67.83,12,17
9,2019-11-04T18:00:16Z,2019-11-04,18:00:16,FT2_0041,23.91,68.99,16,18
10,2019-11-04T19:00:36Z,2019-11-04,19:00:36,FT2_0041,23.81,69.53,17,19
11,2019-11-04T20:00:21Z,2019-11-04,20:00:21,FT2_0041,23.77,70.44,21,20
12,2019-11-04T21:00:24Z,2019-11-04,21:00:24,FT2_0041,23.66,70.08,20,21
13,2019-11-04T22:00:27Z,2019-11-04,22:00:27,FT2_0041,23.60,70.51,17,22
14,2019-11-04T23:00:29Z,2019-11-04,23:00:29,FT2_0041,23.50,70.65,19,23
15,2019-11-05T00:00:31Z,2019-11-05,00:00:31,FT2_0041,23.45,70.95,19,0
16,2019-11-05T01:00:34Z,2019-11-05,01:00:34,FT2_0041,23.08,73.92,27,1
17,2019-11-05T02:00:37Z,2019-11-05,02:00:37,FT2_0041,23.95,71.26,24,2
18,2019-11-05T03:00:40Z,2019-11-05,03:00:40,FT2_0041,24.21,69.37,22,3
19,2019-11-05T04:00:45Z,2019-11-05,04:00:45,FT2_0041,24.06,69.68,22,4
20,2019-11-05T05:00:49Z,2019-11-05,05:00:49,FT2_0041,24.53,68.61,22,5
21,2019-11-05T06:00:52Z,2019-11-05,06:00:52,FT2_0041,24.40,66.86,18,6
22,2019-11-05T07:00:56Z,2019-11-05,07:00:56,FT2_0041,24.28,67.29,18,7
23,2019-11-05T08:00:00Z,2019-11-05,08:00:00,FT2_0041,23.29,70.46,22,8
24,2019-11-05T09:00:03Z,2019-11-05,09:00:03,FT2_0041,23.94,67.42,21,9
25,2019-11-05T10:00:06Z,2019-11-05,10:00:06,FT2_0041,23.62,67.49,23,10
26,2019-11-05T11:00:10Z,2019-11-05,11:00:10,FT2_0041,24.25,65.09,24,11
27,2019-11-05T12:00:14Z,2019-11-05,12:00:14,FT2_0041,24.11,64.35,27,12
28,2019-11-05T13:00:00Z,2019-11-05,13:00:00,FT2_0041,23.94,64.27,24,13
29,2019-11-05T14:00:05Z,2019-11-05,14:00:05,FT2_0041,23.87,64.04,24,14
...,...,...,...,...,...,...,...,...
5565,2019-12-16T18:00:34Z,2019-12-16,18:00:34,FT2_0041,22.45,69.49,29,18
5566,2019-12-16T19:00:36Z,2019-12-16,19:00:36,FT2_0041,22.38,69.18,29,19
5567,2019-12-16T20:00:38Z,2019-12-16,20:00:38,FT2_0041,22.31,69.13,35,20
5568,2019-12-16T21:00:16Z,2019-12-16,21:00:16,FT2_0041,22.28,68.92,28,21
5569,2019-12-16T22:00:22Z,2019-12-16,22:00:22,FT2_0041,22.24,68.81,33,22
5570,2019-12-16T23:00:37Z,2019-12-16,23:00:37,FT2_0041,22.17,69.21,37,23
5571,2019-12-16T00:00:14Z,2019-12-16,00:00:14,FT2_0041,21.48,68.41,29,0
5572,2019-12-16T01:00:19Z,2019-12-16,01:00:19,FT2_0041,22.18,69.33,22,1
5573,2019-12-16T02:00:04Z,2019-12-16,02:00:04,FT2_0041,22.53,69.05,28,2
5574,2019-12-16T03:00:06Z,2019-12-16,03:00:06,FT2_0041,22.86,68.19,21,3
5575,2019-12-16T04:00:08Z,2019-12-16,04:00:08,FT2_0041,22.77,68.95,16,4
5576,2019-12-16T05:00:05Z,2019-12-16,05:00:05,FT2_0041,22.82,67.40,17,5
5577,2019-12-16T06:00:11Z,2019-12-16,06:00:11,FT2_0041,22.60,70.38,16,6
5578,2019-12-16T07:00:32Z,2019-12-16,07:00:32,FT2_0041,23.29,70.32,33,7
5579,2019-12-16T08:00:40Z,2019-12-16,08:00:40,FT2_0041,23.57,70.23,35,8
5580,2019-12-16T09:00:43Z,2019-12-16,09:00:43,FT2_0041,23.46,71.08,34,9
5581,2019-12-16T10:00:52Z,2019-12-16,10:00:52,FT2_0041,23.49,71.28,42,10
5582,2019-12-16T11:00:00Z,2019-12-16,11:00:00,FT2_0041,23.31,71.55,53,11
5583,2019-12-16T12:00:07Z,2019-12-16,12:00:07,FT2_0041,22.98,71.87,55,12
5584,2019-12-16T13:00:09Z,2019-12-16,13:00:09,FT2_0041,22.82,71.84,55,13
5585,2019-12-16T14:00:13Z,2019-12-16,14:00:13,FT2_0041,22.73,71.64,55,14
5586,2019-12-16T15:00:16Z,2019-12-16,15:00:16,FT2_0041,22.66,71.03,50,15
5587,2019-12-16T16:00:25Z,2019-12-16,16:00:25,FT2_0041,22.63,70.63,42,16
5588,2019-12-16T17:00:29Z,2019-12-16,17:00:29,FT2_0041,22.56,69.94,36,17
5589,2019-12-16T18:00:34Z,2019-12-16,18:00:34,FT2_0041,22.45,69.49,29,18
5590,2019-12-16T19:00:36Z,2019-12-16,19:00:36,FT2_0041,22.38,69.18,29,19
5591,2019-12-16T20:00:38Z,2019-12-16,20:00:38,FT2_0041,22.31,69.13,35,20
5592,2019-12-16T21:00:16Z,2019-12-16,21:00:16,FT2_0041,22.28,68.92,28,21
5593,2019-12-16T22:00:22Z,2019-12-16,22:00:22,FT2_0041,22.24,68.81,33,22
5594,2019-12-16T23:00:37Z,2019-12-16,23:00:37,FT2_0041,22.17,69.21,37,23

In [48]:
#訓練&測試資料集
X_train = data.iloc[:5000,0:3]
y_train = data.iloc[:5000,3]
X_test = data.iloc[5000:5355,0:3]
y_test = data.iloc[5000:5355,3]

In [50]:
#Ridge regression
from sklearn.datasets import make_regression
from matplotlib import pyplot as plt
import numpy as np
from sklearn.linear_model import Ridge
rr = Ridge()
rr.fit(X_train, y_train)

train_score = rr.score(X_train, y_train)
test_score = rr.score(X_test, y_test)
print('train score: {0}; test score: {1}'.format(train_score, test_score))

train score: 0.009740445432830147; test score: -0.00732296363080609

In [51]:
#自動選擇參數
def cv_score(d):
    clf = Ridge(alpha=d)
    clf.fit(X_train, y_train)
    tr_score = clf.score(X_train, y_train)
    cv_score = clf.score(X_test, y_test)
    return (tr_score, cv_score)


alpha = range(1, 100)
scores = [cv_score(d) for d in alpha]
tr_scores = [s[0] for s in scores]
cv_scores = [s[1] for s in scores]

best_score_index = np.argmax(cv_scores)
best_score = cv_scores[best_score_index]
best_param = alpha[best_score_index]
print('best_param:%d; best_score:%.6f'%(best_param,best_score))

best_param:99; best_score:-0.007216

In [25]:
#Lasso Regression
from sklearn import linear_model
clf = linear_model.Lasso(alpha=0.1)
clf.fit(X_train, y_train)

train_score = clf.score(X_train, y_train)
test_score = clf.score(X_test, y_test)
print('train score: {0}; test score: {1}'.format(train_score, test_score))

train score: 0.009719612458020999; test score: -0.006305122582322298

In [23]:
#自動選擇參數
def cv_score(d):
    clf = linear_model.Lasso(alpha=d)
    clf.fit(X_train, y_train)
    tr_score = clf.score(X_train, y_train)
    cv_score = clf.score(X_test, y_test)
    return (tr_score, cv_score)


alpha = np.linspace(0, 10, 100)
scores = [cv_score(d) for d in alpha]
tr_scores = [s[0] for s in scores]
cv_scores = [s[1] for s in scores]

best_score_index = np.argmax(cv_scores)
best_score = cv_scores[best_score_index]
best_param = alpha[best_score_index]
print('best_param:%d; best_score:%.6f'%(best_param,best_score))

C:\Users\Big data\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  after removing the cwd from sys.path.
C:\Users\Big data\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  positive)
C:\Users\Big data\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 358498.674733571, tolerance: 72.40499181999999
  positive)

best_param:1; best_score:0.000989

In [28]:
#Elastic Net
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import ElasticNet

elastic=ElasticNet(normalize=True)
search=GridSearchCV(estimator=elastic,param_grid={'alpha':np.logspace(-5,2,8),'l1_ratio':[.2,.4,.6,.8]},scoring='neg_mean_squared_error',n_jobs=1,refit=True,cv=10)

In [43]:
X = data.iloc[:5355,0:3]
y = data.iloc[:5355,3]

In [29]:
search.fit(X,y)
search.best_params_

{'alpha': 0.0001, 'l1_ratio': 0.2}

In [34]:
from sklearn.metrics import mean_squared_error
elas=ElasticNet(normalize=True,alpha=0.0001,l1_ratio=0.2)
elas.fit(X,y)
second_model=(mean_squared_error(y_true=y,y_pred=elas.predict(X)))
print(second_model)

145.7418680388034

In [56]:
from sklearn.linear_model import ElasticNet

elas = ElasticNet(normalize=True,alpha=0.0001,l1_ratio=0.2)
elas.fit(X_train, y_train)
train_score = regr.score(X_train, y_train)
test_score = regr.score(X, y)
print('train score: {0}; test score: {1}'.format(train_score, test_score))

train score: 0.008895016119740307; test score: 0.008056776120569875

In [36]:
#儲存模型
from sklearn.externals import joblib
joblib.dump(elas,"./Elastic_Net.pkl")

['./Elastic_Net.pkl']

In [40]:
X_test = [[0, 26.7, 15.2]]
elas.predict(X_test)[0]

numpy.float64

In [45]:
X_test = [[0, 26.7, 15.2]]
regr.predict(X_test)[0]

22.20242038009407

In [42]:
round(elas.predict(X_test)[0], 2)

22.2

In [46]:
sklearn.__version__

NameError: name 'sklearn' is not defined

In [53]:
#Elastic Net
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import ElasticNet

elastic=ElasticNet(normalize=True)
search=GridSearchCV(estimator=elastic,param_grid={'alpha':np.logspace(-5,2,8),'l1_ratio':[.2,.4,.6,.8]},scoring='neg_mean_squared_error',n_jobs=1,refit=True,cv=10)
search.fit(X,y)
search.best_params_

{'alpha': 0.0001, 'l1_ratio': 0.2}